.schedule-list {
  list-style: none;
  padding-left: 0;
}

.schedule-item {
  background-color: #f1f8ff;
  border-left: 4px solid #59c2ff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}